.sidebar {
    width: 17%;
    background-color: #201c1c;
    height: 1000px;
    top: 120px;
    position: fixed;
    color: white;
}

.category {
    margin: 10px 0px 0px 0px;
    width: 100%;
    text-align: center;
    font-size: 16pt;
}

.list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list div {
    margin-left: 10%;
    width: 100%;
}

.list li {
    margin-top: 15px;
}